<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="true"
         verbose="true"
>
    <php>
        <ini name='xdebug.var_display_max_depth' value='100' />
    </php>
    <testsuites>
        <testsuite name="JSON API Test Suite">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
</phpunit>
